@import 'libs/bootstrap-reboot.min';

@import 'base/color';

*{
    font-family: 'Bitter', serif;
    scroll-behavior: smooth;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
@import 'blocks/main';
@import 'blocks/form';
@import 'blocks/about';
@import 'blocks/page_404';

@import 'base/media.scss';