@media(max-width:1439px){

    //Калькулятор

    .calculator{
        &__header {
            font-size: 46px;
            margin-left: 50px;
        }
        &__subheader{
            margin-left: 50px;
        }
        &__choice{
            margin-left: 51px;
        }
    }
    .parameters{
        &__header{
            margin-left: 51px;
        }
        &__item{
            margin-left: 50px;
        }
    } 
    .result {
        margin-left: 50px;
    }
}

@media (max-width:1300px){

    //Первая страница
    .promo{
        &__name{
            margin-left: 30px;
            img{
                height: 47px;
                width: 250px;
            }
        }
        &__logo{
            margin-left: 50px;
            &__img{
                height: 50px;
                width: 50px;
            }
        }
        &__contacts{
            display: flex;
            text-decoration: none;
        }
        &__phone{
            margin-right: 20px;
            font-size: 17px;
        }
        &__link{
            margin-right: 30px;
            width: 180px;
            height: 27px;
            font-size: 14px;
            padding: 2px 0 2px 22px;
            &:hover{
                color: $yellow;
                border: solid $yellow 1px;
            }
        }
    }
    .menu{
        padding: 17px 45px 17px 45px;
    }

    //Калькулятор

    .calculator{
        &__header {
            margin-left: auto;
            margin-right: auto;
        }
        &__subheader{
            margin-left: auto;
            margin-right: auto;
        }
        &__choice{
            margin-left: auto;
            margin-right: auto;
        }
    }
    .parameters{
        &__header{
            margin-left: auto;
            margin-right: auto;
        }
        &__item{
            margin-left: auto;
            margin-right: auto;
        }
    }
    .result {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        &__header{
            margin-left: auto;
            margin-right: auto;
        }
    }
    .rs-input{
        height: 30px;
        width: 70px;
        border: none;
        padding-right: 0;
        &__thousens{
            width: 70px;
        // padding-left: 40px;
        }
        &__million{
        // padding-left: 30px;
            width: 78px;
        }
        &__millions{
            width: 88px;
        // padding-left: 20px;
        }
        &__millionss{
        // padding-left: 12px;
            width: 98px;
        }
        // padding-right: 0px;
        // &__thousens{
        // padding-left: 40px;
        // }
        // &__million{
        // padding-left: 30px;
        // }
        // &__millions{
        // padding-left:20px;
        // }
        // &__one{
        //     padding-left: 8px;
        // }
    }
    .rs-input-per{
        height: 30px;
        padding-right: 0px;
    }
    .rs-input-mounth{
        height: 30px;
        width: 30px;
        padding-right: 0px;
    }
    .calc__wrapper{
        flex-direction: column;
    }
    .calc__left{
        width: 721px;
        margin: 0 auto;
    }

}

@media (max-width: 991px){

    //Первая страница
    .main{
        height: 710px;
    }
    .promo{
        &__name{
            margin-left: 35px;
            height: 47px;
            width: 250px;
        }
        &__logo{
            margin: 0 0 0 37px;
            height: 55px;
            width: 55px;
        }
        &__contacts{
            text-decoration: none;
        }
        &__phone{
            margin-right: 20px;
            font-size: 15px;
        }
        &__link{
            margin-right: 15px;
            width: 140px;
            height: 22px;
            font-size: 12px;
        }
    }
    .menu{
        padding: 17px 45px 17px 45px;
        &__link{
            font-size: 16px;
        }
    }
    //Калькулятор

    .calc__wrapper{
        flex-direction: column;
    }
}

@media (max-width: 767px){
    .promo{
        &__name{
            margin-left: 15px;
            width: 180px;
            height: 47px;
        }
        &__logo{
            margin: 0 33px 0 0 ;
            height: 50px;
            width: 50px;
        }
        &__contacts{
            margin: 0;
            display: flex;
            flex-direction: column;
            text-decoration: none;
        }
        &__phone{
            margin: 0 20px 0 20px;
            font-size: 12px;
        }
    }
    //Калькулятор

    .calculator{
        margin-top: 0;
        &__header{
            padding-top: 80px;
        }
        &__subheader{
            margin-left:50px;
            width: 470px;
            font-size: 30px;
        }
        &__choice{
            width: 575px;
            margin: 0;
        }
    }
    .parameters{
        &__item{
            margin-left: 30px;
        }
    }
    .calc__left{
        width: 575px;
    }
}



@media (max-width: 575px){
     
    //Первая страница

    .main{
        background-color: $white;
        height: 568px;
    }
    .header{
        height: 52px;
    }
    .promo{
        justify-content: space-between;
        height: 52px;
        &__name{
            margin-left: 10px;
            height: 23px;
            width: 115px;
        }
        &__logo{
            display: block;
            margin: 0 110px 0 0;
            text-align: center;
            height: 22px;
            width: 22px;
        }
        &__phone{
            display: none;
        }
        &__link{
            display: none;
            &__hide{
            display: block;
            padding:  3px 27px 5px 27px;
            color: $black;
            background: none;
            width: 200px;
            height: 32px;
            border: 1px solid $black;
            box-sizing: border-box;
            transition: 0.5s;
            font-family: Bitter;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            &:hover{
                color: $yellow;
                border: solid $yellow 1px;
            }
        } 
    }
}
    .hamburger{
        z-index: 3;
        display: block;
        position: fixed;
        right: 15px;
        top: 25px;
        transform: translateY(-50%);
        width: 25px;
        height: 12px;
        padding: 0;
        span{
            display: block;
            height: 2px;
            margin-bottom: 5px;
            background-color: $black;
            width: 100%;
            transition: 0.5s all;
        }
        &__active{
            span{
                margin-bottom: -2px;
                &:nth-child(1){
                    background-color: $black;
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    background-color: $black;
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .headermenu{
        height: 0;
        background-color: rgba(0,0,0, 0);
        border-bottom: none;
    }
    .menu{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: $white;
        border: none;
        transition: 0.6s;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh;
        padding: 0 0 0 25px;
        &__wrapper{
            height: 52px;
            display: block;
            &__name{
                margin-top: 10px;
                height: 37px;
                width: 190px;
            }
        }
        &__active{
            right: 0;
        }
        &__item{
            margin-top: 40px;
            &__hide{
                margin-top: 40px;
                display: block;
                font-size: 18px;
            }
        }
        &__link{
            font-weight: 500;
            color: $black;
            font-size: 18px;
        }
        &__phone{
            font-weight: 500;
            color: $black;
        }
        &__button{
            font-weight: 500;
            padding-top: 2px;
            color: $black;
            background: none;
            width: 200px;
            height: 32px;
            border: 1px solid $black;
            box-sizing: border-box; 
        }
    }
    .subject{
        &__header{
            font-size: 24px;
        }
        &__things{
            font-size: 18px;
        }
        &__limit{
            font-size: 18px;
        }
    }
    //Калькулятор
    .request{
        display: block;
        &__header{
            margin-top: 30px;
            text-align: center;
            font-family: Bitter;
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            color: $black;
            }
        }
        .calculator{
            display: none;
        }
    }
